# Игнорируем системные файлы и кэш Python
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.tmp
*.swp

# Виртуальная среда Python
venv/

# Конфигурационные файлы PyCharm
.idea/

# Конфигурационные файлы VSCode
.vscode/

# Кэш тестов pytest
.pytest_cache/

# Файлы зависимостей (если генерируются автоматически)
*.lock
